.upload-example-cropper {
	height: 300px;
	width: 100%;
}
/*.vue-advanced-cropper__image {
    height: 300px !important;
    left: 0px;
    top: 0px;
    width: 100% !important;
    transform: none !important;
}
.vue-preview__image{
    transform: none !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
.vue-preview__wrapper {
    left: 0 !important;
    top: 0 i !important;
}
.vue-rectangle-stencil {
    transform: none !important;
    width: 1184px !important;
}
.vue-bounding-box {
    height: 299px !important;
    width: 1184px !important;
} */
